{{ ansible_facts.managed | comment }}

[Service]
{% if docker_engine_http_proxy | default('') | length > 0 %}
Environment="HTTP_PROXY={{ docker_engine_http_proxy }}"
{% endif %}
{% if docker_engine_https_proxy | default('') | length > 0 %}
Environment="HTTPS_PROXY={{ docker_engine_https_proxy }}"
{% endif %}
{% if docker_engine_no_proxy | default('') | length > 0 %}
Environment="NO_PROXY={{ docker_engine_no_proxy }}"
{% endif %}
